<% if @model == 'user' %>
  <h2>Users search for"<%= @content %>"</h2>
  <%= render 'users/index', users: @records %>
<% else @model == 'post' %>
  <h3>Books search for"<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>